@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

/* 
 * Okay, seriously, why are you looking at my CSS file?
 * It's a mess!
 * This is embarassing. Look at all these fonts I import and then 
 * don't even bother using.
 */

.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear {
    clear: both;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
    font-size: 11pt;
}

.smaller-font {
    font-size: 10pt;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sidebar {
    width: 25%;
    margin: 0 25px 0 25px;
    text-align: center;
}

#main {
    width: calc(75% - 75px);
    margin-right: 25px;
}

/* Section stuff */
.section {
    max-width: 100%;
    clear: both;
    padding: 5px 0px 5px 0px;
}
.section:first-of-type {
    padding-top: 0;
}
/*
.section:not(:first-of-type) {
    border-top: 1px solid #aaa;
    background: linear-gradient(to top, #f0f0f0 0%,#ffffff 25%);
}
*/
#main .section > .header {
    font-weight: bold;
    font-size: 16pt;
    /* text-align: center; */
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
}
#main .section .subheader {
    font-size: 14pt;
}

.dramatic {
    font-style: italic;
    color: #444;
}

.entry > * {
    margin-bottom: 5px;
}
.entry {
    margin-bottom: 7px;
}

.prose {
    font-size: 10pt;
    margin-left: 0.5em;
}

#name {
    line-height: 20pt;
    letter-spacing: 1pt;
    font-size: 22pt;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    margin: 0 auto;
    width: 125px;

    color-adjust: exact; /* force to print color */
}

/* used to be a circle, now it's a square. great story imo*/
#name > #shape {
    height: 125px;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 1px 1px 0px #fff;
    background-color: #ddd !important; /* otherwise, certain browsers won't render the background color */
    color-adjust: exact; /* force to print color */
}


#date {
    text-align: right;
}

/* Things in sidebar */
#sidebar #title {
    font-style: italic;
    color: #444;
}
#sidebar > * {
    margin-bottom: 10px;
}

#sidebar .section > .header {
    font-weight: 700;
    font-size: 9pt;
    text-transform: uppercase;
}

#sidebar ul {
    list-style-type: none;
}

@media screen {
    body {
        background-color: #ddd;
    }

    #might_as_well_be_body {
        width: 720px;
        margin: 0 auto;
        box-shadow: 0px 0px 12px #aaa;
        border: 1px solid #aaa;
        background-color: #fff;
        margin-top: 10px; /* perhaps a bit too playful */
        padding: 50px 20px 50px 20px;
    }
}

span.too-specific-dates {
    /* who gives a shit about specific dates? makes it look ugly */
    display: none;
}

/* it looks meh on iphone */
@media only screen and (max-width: 375px) {
    --mobile-max-width: 375px;

    body {
        max-width: 100%;
    }
    #might_as_well_be_body {
        padding: 5px;
        margin: 0;
        width: calc(var(--mobile-max-width) - 10);
    }
    #sidebar {
       width: 100%;
       margin: 0;
       -moz-column-count:3;
       -webkit-column-count:3;
       column-count:3;
   } 
   #main {
       width:calc(var(--mobile-max-width) - 20);
       margin: 0 auto;
       margin-top: 20px;
   }
}

