@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

/* 
 * Okay, seriously, why are you looking at my CSS file?
 * It's a mess!
 * This is embarassing. Look at all these fonts I import and then 
 * don't even bother using.
 */

.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear {
    clear: both;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #ddd;
    font-size: 11pt;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen {
    #might_as_well_be_body {
        width: 720px;
        margin: 0 auto;
        box-shadow: 0px 0px 12px #aaa;
        border: 1px solid #aaa;
        background-color: #fff;
        margin-top: 10px; /* perhaps a bit too playful */
        padding: 50px 20px 50px 20px;
    }
}

/* it looks meh on iphone */
@media only screen and (max-device-width: 480px) {
    body {
        max-width: 100%;
    }
    #might_as_well_be_body {
        width: 460px;
    }
    #sidebar {
       width: 100%;
       margin: 0;
       -moz-column-count:3;
       -webkit-column-count:3;
       column-count:3;
   } 
}

#sidebar {
    width: 25%;
    margin: 0 25px 0 25px;
    text-align: center;
}

/* if your browser doesn't support calc() I probably dont wan't to work for you */
#main {
    width: calc(75% - 75px);
    margin-right: 25px;
}

/* Section stuff */
.section {
    max-width: 100%;
    clear: both;
    padding: 5px 0px 5px 0px;
}
.section:first-of-type {
    padding-top: 0;
}
/*
.section:not(:first-of-type) {
    border-top: 1px solid #aaa;
    background: linear-gradient(to top, #f0f0f0 0%,#ffffff 25%);
}
*/
#main .section > .header {
    font-weight: bold;
    font-size: 18pt;
    /* text-align: center; */
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
}
#main .section .subheader {
    font-size: 16pt;
}

.dramatic {
    font-style: italic;
    color: #444;
}

.entry > * {
    margin-bottom: 5px;
}
.entry {
    margin-bottom: 7px;
}

.prose {
    font-size: 10pt;
}

#name {
    line-height: 20pt;
    letter-spacing: 1pt;
    font-size: 22pt;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    width: 125px;
    margin: 0 auto;
}

/* name circle */
#name > #circle {
    width: 125px;
    height: 125px;
    background-color: #ddd;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;

    text-shadow: 1px 1px 0px #fff;
}


#date {
    text-align: right;
}

/* Things in sidebar */
#sidebar #title {
    font-style: italic;
    color: #444;
}
#sidebar > * {
    margin-bottom: 10px;
}

#sidebar .section > .header {
    font-weight: 700;
    font-size: 9pt;
    text-transform: uppercase;
}

#sidebar ul {
    list-style-type: none;
}

