@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);


.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear {
    clear: both;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #ddd;
    font-size: 11pt;
}

* {
    padding: 0;
    margin: 0;
}

@media screen {
    #might_as_well_be_body {
    width: 720px;
    margin: 0 auto;
    box-shadow: 0px 0px 12px #aaa;
    border: 1px solid #aaa;
    border-top: none;
    background-color: #fff;
    margin-top: 10px; /* perhaps a bit too playful */
    padding: 50px 20px 50px 20px;
}
}

/* Section stuff */
.section {
    max-width: 100%;
    clear: both;
    padding: 5px 0px 5px 0px;
}
.section:first-of-type {
    padding-top: 0;
}
/*
.section:not(:first-of-type) {
    border-top: 1px solid #aaa;
    background: linear-gradient(to top, #f0f0f0 0%,#ffffff 25%);
}
*/
#main .section > .header {
    font-weight: bold;
    font-size: 18pt;
    /* text-align: center; */
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
}
#main .section .subheader {
    font-size: 16pt;
}


#name {
    line-height: 20pt;
    letter-spacing: 1pt;
    font-size: 20pt;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.dramatic {
    font-style: italic;
    color: #444;
}

.entry > * {
    margin-bottom: 5px;
}

.prose {
    font-size: 10pt;
}

#date {
    text-align: right;
}


.section > .section_name {

}

/* Overriding default user-agent styles */
body {
    margin: 0px;
}

#sidebar {
    width: 22%;
    margin: 0 25px 0 25px;
    text-align: center;
}
/* if your browser doesn't support calc() i probably
   dont wan't to work for you */
#main {
    width: calc(78% - 75px);
    margin-right: 25px;
}

/* Things in sidebar */
#sidebar #title {
    font-style: italic;
    color: #444;
}
#sidebar > * {
    margin-bottom: 10px;
}

#sidebar .section > .header {
    font-weight: 700;
    font-size: 9pt;
    text-transform: uppercase;
}

.bubbly {
    /* orange: #FF9900; blue: #146EB4 */
    /*background: linear-gradient(to bottom, #ff9900 0%,#ffffff 90%);*/
    padding: 0 3px 1px 3px;
    border-radius:3px;
    margin-top: 5px;
}
.amazon {
    background-color: #aaa;
    color: #fff;
}
