@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:300,400,700);


.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear {
    clear: both;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #ddd;
}
* { padding: 0; margin: 0; }

#might_as_well_be_body {
    width: 680px;
    margin: 0 auto;
    font-size: 11pt;
    box-shadow: 0px 0px 12px #aaa;
    border: 1px solid #aaa;
    border-top: none;
    background-color: #fff;
    margin-top: 10px; /* perhaps a bit too playful */
    padding: 50px 20px 50px 20px;
}

/* Section stuff */
.section {
    max-width: 100%;
    clear: both;
    padding: 5px 0px 5px 0px;
}
.section:first-of-type {
    padding-top: 0;
}
/*
.section:not(:first-of-type) {
    border-top: 1px solid #aaa;
    background: linear-gradient(to top, #f0f0f0 0%,#ffffff 25%);
}
*/
.section .header {
    font-weight: 700;
    font-size: 16pt;
    font-family: 'PT Sans', sans-serif;
    /* text-align: center; */
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #666;
}
.section .subheader {
    font-size: 14pt;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}


#name {
    line-height: 20pt;
    letter-spacing: 1pt;
    font-size: 20pt;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#date {
    text-align: right;
}


.section > .section_name {

}

/* Overriding default user-agent styles */
body {
    margin: 0px;
}

#sidebar {
    width: 20%;
    margin: 0 25px 0 25px;
}
/* if your browser doesn't support calc() i probably
   dont wan't to work for you */
#main {
    width: calc(80% - 50px);
}

#sidebar {
    text-align: center;
}

#sidebar #title {
    font-style: italic;
    color: #444;
}
#sidebar > * {
    margin-bottom: 10px;
}
